.body {
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	color: #434455;
	font-size: 16;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
	display: block;
}
.container {
	width: 1158px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header {
	/*-ms-flex-align: stretch;
	flex-wrap: nowrap;
	align-items: center;
	text-align: left;
	flex-shrink: 1;*/
	padding-left: 8px;
	padding-right: 8px;
	width: calc(100% - 16px);
	border-bottom: 1px solid #e7e9fc;
}

.logo-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-logo-link {
	margin-right: 76px;
}
.link {
	text-decoration: none;
	color: #2e2f42;
	font-weight: 500;
}

.inside-links {
	display: block;
	flex-direction: row;
	text-decoration: none;
	color: #2e2f42;
	font-weight: 500;
	padding: 24px 0;
}
.inside-links-item {
	display: block;
	margin-right: 40px;
}
.inside-links-item:last-child {
	margin-right: 0;
}
.inside-links:focus {
	color: #404bbf;
}
.inside-links:hover {
	color: #404bbf;
}

.contacts {
	display: inline-block;
	font-style: normal;
	list-style-type: none;
}
.contacts-list-item {
	margin-right: 40px;
}
.contacts-list-item:last-child {
	margin-right: 0;
}

.list {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header-logo-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: #4d5ae5;
	text-transform: uppercase;
	text-decoration: none;
}
.logo-studio {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: #2e2f42;
}

section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.button {
	display: block;
	align-content: center;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: #4d5ae5;
	color: #ffffff;

	margin-left: 42%;
}

button:hover {
	background-color: #404bbf;
}
button:focus {
	background-color: #404bbf;
}

.reach-us-link {
	list-style-type: none;
	text-decoration: none;
	color: #434455;
	font-weight: 400;
}
.reach-us-link:hover,
:focus {
	color: #404bbf;
}

.hero-section {
	background-image: url("./images/people-office-opt.jpg");
	background-repeat: no-repeat;

	background-size: contain;
	background-origin: content-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2e2f42;
	padding-top: 188px;
	padding-bottom: 188px;
}
.hero-title {
	display: block;
	max-width: 496px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: #ffffff;
	text-align: center;
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 0.02em;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.description-card {
	margin-right: 24px;
	flex-basis: calc((100% - 3 * 24px) / 4);
}
.description-card:last-child {
	margin-right: 0px;
}
.description-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}
.teammembers-section {
	background-color: #f4f4fd;
}
.our-team-title {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-transform: capitalize;
	margin-bottom: 72px;
}
.team-card-content {
	background-color: #ffffff;
	margin-right: 24px;
	border-radius: 0px 0px 4px 4px;
}
.team-card-content:last-child {
	margin-right: 0px;
}
.team-member-text {
	padding-top: 32px;
	padding-bottom: 32px;
}
.team-member-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-align: center;
	margin-bottom: 8px;
}
.team-member-position {
	font-size: 16px;
	text-align: center;
}
.our-portfolio-title {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
	margin-bottom: 72px;
}

.portfolio-item-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}
.portfolio-item-list:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.portfolio-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}
.app-name {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}
.our-portfolio-content {
	border-bottom: 1px #2e2f42;
}

.footer-bar {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #2e2f42;
}

.logo-link-footer {
	display: inline-block;
	margin-bottom: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	color: #4d5ae5;
	text-transform: uppercase;
	text-decoration: none;
}
.logo-studio-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.166;
	letter-spacing: 0.03em;
	color: #f4f4fd;
}
.footer-bar-text {
	color: #f4f4fd;
	line-height: 1.5;
	letter-spacing: 0.02em;
	max-width: 264px;
	height: 72px;
	vertical-align: baseline;
	font-stretch: 100%;
}
